.App {
  text-align: center;
}

#center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#header {
  grid-column: 1/4;
  background-color: rgb(18, 37, 37);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: white;
  font-style: italic;
}

#drum-machine {
  background-color: lightblue;
  width: 300px;
  height: 400px;
  display: grid;
  padding: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr) 40px;
  gap: 15px;
}

#display {
  background-color: white;
  grid-column: 1 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
